
trunk/compileepic.bat
trunk/compilensb.bat
trunk/compileocfix.bat
trunk/compilepsi.bat
trunk/compilerace.bat
trunk/compilescripts.bat
trunk/compilespells.bat
trunk/compilespells.bat
trunk/compilescripts.bat
trunk/compilerace.bat
trunk/compilepsi.bat
trunk/compileocfix.bat
trunk/compilensb.bat
trunk/compileepic.bat
*.tmp
*.hak
*.ncs
*.erf
*.log
nwn/nwnprc/trunk/makefile.temp
nwn/nwnprc/trunk/makefile.temp
